.myname{
  margin:50px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 5px;
}

.aboutme{
  font-size: 25px;
  margin: 90px;
  font-family:'Times New Roman', Times, serif;
  line-height: 1cm;
}
