.aboutme{
  display: flex;
  flex-direction: column;
}

.aboutmeName{
  font-size: 60px;
}

.aboutmeImg{
  height: 15%;
  width: 15%;
  margin-right: 80%;
}

.aboutmeHeader{
  padding: 10px;
  position: relative;
  cursor: pointer;
}